.hero {
    position: relative;
    overflow: hidden;
    text-align: center;
    color: #fff;
    padding: 120px 0;
    min-height: 40vh;
  }

  
html {
    scroll-behavior: smooth;
  }
  


.heroContent {
    background: rgba(0, 0, 0, 0.8);
    padding: 40px;
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
    margin-top: 0;
    color: #fff;
}

.hero h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #fff;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}



@media (max-width: 768px) {
    .parallax {
        background-size: cover;
        background-attachment: scroll;
        height: 100%;
    }

    .hero h1 {
        font-size: 1.5em;
    }
}