/* MainLayout.module.css */

.layoutContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full height of the viewport */
    width: 100%;
  }
  
  main {
    flex: 1; 
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    main {
      padding: 15px;
    }
  }
  
  @media (max-width: 480px) {
    main {
      padding: 10px;
    }
  }
  