.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
  }
  
  .modalBox {
    position: relative;
    background-color: #ffffff;
    max-width: 90vw;
    max-height: 90vh;
    overflow-y: auto;
    scrollbar-width: none;

    padding: 1.5rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    margin-top: 10rem;
  }
  
  .closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #6b7280;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  
  .closeButton:hover {
    color: #111827;
  }
  