.featuredWork {
    position: relative;
    overflow: hidden;
    padding: 100px 0;
}


.wrapper {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px 200px;
    position: relative;


    z-index: 1;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;

}

.featuredWork h2 {
    font-size: 2em;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}

.workGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    width:100%;

    margin-bottom: 40px;
}



.workItem img {

    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.workItem h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
    color: #007bff;
}

.workItem p {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}



@media (max-width: 768px) {
    .featuredWork {
        padding: 60px 0;
    }
    
    .parallax {
        background-attachment: scroll;
        height: 80%;
    }
    
    .wrapper {
        padding: 20px;
    }
    
    .workGrid {
        gap: 20px;
    }
    
    .workItem {
        padding: 15px;
    }
    
    
    .btnPrimary {
        padding: 12px 25px;
      }
}